@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Jockey+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CORES DO SITE */
:root{
    --corBase: #F6ECD1;
    --corSegundaria: #FC9A1B;
    --form: rgb(246, 236, 209, 0.9);
    --botao1: #FC9A1B;
    --botao1hover: #ffc06d;
    --botao2: rgb(0, 138, 41);
    --botao2hover: rgb(90, 177, 116);
}

/* cabeçalho superior */
/* vw é para o width (baseado na largura), e o vh para o height (baseado na altura) */
.header{
    background-color: var(--corBase);
    padding: 3%;
    box-shadow: 2px 2px 4px;
    height: 15vh;
    width: 100vw;
    font-size: 175%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header__title{
    font-weight: bold;
    color: black;
    font-family: "Italiana";
}

.header__img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#header__title--color{
    color: var(--corSegundaria);
    font-family: "Jockey"
}

/* MAIN */
main{
    display: flex;
    /* justify-content: left; */
    align-items: center;
    height: 70vh;
    width: 100vw;
    position: relative;
    left: 30px;
    background-image: url(../img/pizza.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80% 100%;
    background-color: rgba(240, 248, 255, 0);
}

.form{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 40%;
    background-color: var(--form);
    justify-content: center;
    align-items: center;
    gap: 10%;
    border-radius: 25px;
    margin: 8%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.form__input{
    width: 80%;
    height: 10%;
}

.form__btn{
    border-radius: 10px;
    padding: 16px 32px;
    background-color:var(--botao1);
    color: white;
    border: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.form__btn:hover{
    background-color: var(--botao1hover);
    color: black;
}

.form__btn--action:hover{
    background-color: var(--botao2hover);
    color: black;
}

.form__btn--action{
    background-color:var(--botao2);
}

/* footer */
.footer{
    height: 15vh;
    width: 100vw;
    background-color: var(--corBase);
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12%;
}

.footer__colum{
    display: flex;
    flex-direction: column;
    width: 16%;
    text-align: center;
    gap: 8px;
    line-height: 20px;
}

.fa-brands{
    text-decoration: none;
    color: black;
    font-size: 150%;
    padding: 5px;
}