@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CORES DO SITE */
:root{
    --corBase: rgb(204, 67, 67);
    --corSegundaria: rgb(24, 136, 58);
    --form: rgba(248, 88, 88, 0.61);
    --botao1: rgb(230, 60, 60);
    --botao1hover: rgb(165, 42, 42);
    --botao2: rgb(0, 138, 41);
    --botao2hover: rgb(0, 94, 28);
}

body{
    background-color: var(--corSegundaria);
}

/* cabeçalho superior */
/* vw é para o width (baseado na largura), e o vh para o height (baseado na altura) */
.header{
    background-color: var(--corBase);
    padding: 3%;
    box-shadow: 2px 2px 4px;
    height: 15vh;
    width: 100vw;
    font-size: 175%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title{
    font-weight: bold;
    color: black;
    font-family: "Roboto", sans-serif;
}

#header__title--color{
    color: var(--corSegundaria);
}

/* MAIN */
main{
    display: flex;
    /* justify-content: left; */
    align-items: center;
    height: 70vh;
    width: 100vw;
    position: relative;
    left: 30px;
    background-image: url(../img/pizza.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80% 100%;
    background-color: rgba(240, 248, 255, 0);
}

.form{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 40%;
    background-color: var(--form);
    justify-content: center;
    align-items: center;
    gap: 10%;
    border-radius: 25px;
    margin: 8%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.form__input{
    width: 80%;
    height: 10%;
}

.form__btn{
    border-radius: 10px;
    padding: 16px 32px;
    background-color:var(--botao1);
    color: white;
    border: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.form__btn:hover{
    background-color: var(--botao1hover);
}

.form__btn--action:hover{
    background-color: var(--botao2hover);
}

.form__btn--action{
    background-color:var(--botao2);
}

/* footer */
.footer{
    height: 15vh;
    width: 100vw;
    background-color: var(--corBase);
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12%;
}

.footer__colum{
    display: flex;
    flex-direction: column;
    width: 16%;
    text-align: center;
    gap: 8px;
    line-height: 20px;
}

.fa-brands{
    text-decoration: none;
    color: black;
    font-size: 150%;
    padding: 5px;
}