body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

header{
    background-color: blue;
    text-align: center;
    padding: 10px;
}

main{
    background-color: antiquewhite;
    text-align: center;
    padding: 10px;
}

.container{
    width: 100vw;
    max-width: 1000px;
    min-width: 375px;
    border: 5px solid blueviolet;
    background-color: aliceblue;
}

.cols{
    display: flex;
    gap: 20px;
    margin: 20px;
}

.parceiros, .mkt{
    width: 50%;
    border: solid blueviolet;
    padding: 10px;
    border-radius: 25px;
}

footer{
    background-color: brown;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 500px){
    .cols {
        flex-direction: column;
    }

    .parceiros, .mkt {
        width: 100%;
    }
}

/* @media print{

} */